<div class="col-lg-4 col-md-6 mx-auto">
    <div class="card bg-light mb-3 mx-auto">
        <div class="card-header text-center">
            <i class="material-icons text-primary logo">
                video_call
            </i>
            <h3>Accoutn Login</h3>
        </div>
        <div class="card-body">
            <form action="/users/login" method="POST">
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 mx-auto">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 mx-auto">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-12 mx-auto">
                        <button class="btn btn-primary btn-lg btn-block">Log In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>